<p id="notice"><%= notice %></p>

<div class="pure-g content">
  <h1 class="pure-u-1 recipes-list-greeting">Check out to Marley Spoon's recipes!</h1>

  <div class="recipes-list">

    <% @recipes.each do |recipe| %>

      <div class="pure-u-1-1 recipes-list-photo">
        <img src="<%= recipe.fields[:photo].url %>" alt="">
      </div>

      <%= link_to recipe_path(recipe.id) do %>
        <div class="pure-u-1-1 recipes-list-title">
          <h3><%= recipe.fields.dig(:title) %></h3>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
