<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Photo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.fields.dig(:title) %></td>

        <td>
        <% if recipe.fields.dig(:photo) %>
          <img src="<%= recipe.fields[:photo].url %>" alt="">
        <% else %>
          No photo :(
        <% end %>
        </td>

        <td><%= link_to 'Show', recipe_path(recipe.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
